<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Vue</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="nav-bar"></div>
    <div id="app">
      <div class="product">
        <div class="product-image">
          <!-- v-bind is a vue directive that binds the data to the attribute -->
          <img v-bind:src="image" />
        </div>
        <div class="product-info">
          <!-- like handlebars, the double expressions {{ }}tells where data needs to go -->
          <h1>{{product}}</h1>

          <!-- conditional rendering   -->
          <p v-if="inventory > 10">In Stock</p>
          <p v-else-if="inventory <= 10 && inventory > 0">
            Almost out of stock
          </p>
          <p
            v-else-if="inventory <= 0"
            :class="{disabledButton: inventory <= 0}"
          >
            Out of Stock
          </p>
          <!-- for lists a v-for directive is used  -->
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <!-- iterating through an array of objects -->
          <!-- keys are highly recommended so elements can be tracked -->
          <div
            v-for="variant in variants"
            :key="variant.variantId"
            class="color-box"
            :style="{ backgroundColor: variant.variantColor}"
            @mouseover="updateProduct(variant.variantImage)"
          ></div>
          <!-- v-on:click="cart +=1" v-on is an event listener :click is the event being listened on -->
          <!-- @ is short for v-on -->
          <!-- v-on:functionName triggers on click -->
          <!-- binding class to conditions -->
          <button
            v-on:click="addToCart"
            :disabled="inventory <= 0"
            :class="{disabledButton: inventory <= 0}"
          >
            Add to cart
          </button>
          <button v-on:click="decrementCart">Lessen cart</button>

          <div class="cart">
            <p>Cart({{ cart }})</p>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="main.js"></script>
  </body>
</html>
